
.donation-page {
  margin: 6vw;

  h1 {
    font-size: 30px;
  }

  #edit {
    width: 15vw;
    justify-self: left;
    background-color: #9999995a;
    border: 1px solid rgb(38, 38, 38);
    color: rgba(0, 0, 0, 0.969);
    justify-self: left;
    opacity: 40%;
  }
  
  #edit:hover {
    background-color: rgb(27, 27, 27);
    color: white;
    opacity: 100%;
  }
 
  .flexbox {
    margin-bottom: 4em;
    justify-content: center;
    border-bottom: solid 3px rgba(37, 37, 37, 0.468);

  }

  h3 {
    font-size: 26px;
    color: rgb(37, 37, 37);
  }
  p {
    font-weight: 600;
    font-size: 18px;
    color: rgba(58, 58, 58, 0.671);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 10% 25% 27% 40%;
    column-gap: 1%;
  }

  .img-container {
    max-width: 540px;
    width: 40vw;
    height: 34vh;

    border-radius: 30px;
    box-shadow: 0 2px 2px rgba(158, 158, 158, 0.1);
    justify-self: center;
  }

  img {
    max-width: 600px;
    width: 46vw;
  }

  form {
    
    justify-self: center;
    display: flex;
    flex-direction: column;
    
    
    h1 {
      text-align: left;
      text-wrap: nowrap;
    }
    label {
      font-size: 20px;
      margin-bottom: 1.2em;
      text-align: right;
    }
    input {
      padding: 2px;
      font-size: 16px;
      background-color: rgb(245, 245, 245);
      color: rgb(12, 12, 12);
    }
    
    button {
      margin-top: 1em;
      align-self: right;
    }
  }
}

.project-update form {
  label {
    text-align: center;
  }
}



.progress-bar-container {
  width: 80%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  height: 25px;
  margin: auto;
}

.progress-bar-fill {
  height: 100%;
  background-color: #38ab23;
  transition: width 0.5s ease-in-out;
  border-radius: 25px 0 0 25px;
}

.proj-donations-index {
  margin-top: 10vh;
  text-align: bottom;
  h1, p{
    text-align: left;
  }

  h2 {
    font-size: 30px;
    color: rgba(46, 152, 28, 0.871);
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }

  p {
    font-weight: 400;
  }
}

.proj-donations-index-row {
  display: grid;
  grid-template-columns: 15% 25% 25% 10%;
  column-gap: 8%;
  border-bottom: 2px solid rgba(31, 31, 31, 0.451);
}

#errors {
  color: rgba(255, 0, 0, 0.858);
  font-weight: 400;
  text-wrap: nowrap;
}



.rewards {
  margin-top: 5em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(26, 26, 26, 0.927);
  border-radius: 40px;
  width: 25vw;
  max-width: 320px;
  max-height: 560px;
  justify-self: center;
  overflow-y: scroll;
  
 
  h1, h3, p {
    text-align: center;
  }
  
  h1 {
    margin-bottom: 1em;
  }
}


.rewards::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
  height: 40px;
}
.rewards::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
}

.rewards::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}


/*Reward Index In Project Page*/
.reward-cards {
  display: flex;
  flex-direction: column;
  font-family: fantasy;

  p {
    color: #131528;
    font-weight: 700;
    letter-spacing: 2px;
  }
  
  .img-container {
    max-width: 300px;
    max-height: 200px;
    width: 20vw;
    height: 12vw;
    margin-left: min(25%, 1em)
  }

  img {
    display: flex;
    justify-content: center;
    max-width: 350px;
    width: 22vw;
  }
  #card {
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.305);
  }
  #card:hover {
    cursor: pointer;
    h3 {
      text-decoration: underline;
    }
  }
}


